extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a ornare enim. Nullam a mollis dui, accumsan dapibus risus. Sed nec quam nec orci efficitur viverra. Nam sed efficitur mi, nec tincidunt ligula. Nullam cursus pretium urna, sed vestibulum tellus accumsan ac. Donec pulvinar facilisis efficitur. Aliquam finibus lacus at dignissim fringilla.

                p in odio non nunc venenatis laoreet sit amet ac leo. Cras et risus erat. Sed egestas faucibus nisi, vitae varius sapien interdum eu. Curabitur dignissim, risus ut varius imperdiet, ante dolor laoreet diam, at tincidunt metus est sit amet elit. Sed eu auctor tortor. 

                p aecenas et ultricies leo. Cras a lorem nec ligula pretium maximus. Suspendisse odio sem, tempus a dapibus sed, dictum placerat sapien. Duis eget purus lectus. Aliquam maximus dolor ex, non tincidunt ligula sagittis at. Ut malesuada, dolor id accumsan laoreet, ligula massa scelerisque tortor, iaculis sollicitudin massa ligula eu erat. Nulla facilisi.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row    
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Ut malesuada, dolor id accumsan laoreet, ligula massa scelerisque tortor, iaculis sollicitudin massa ligula eu erat. Nulla facilisi.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Ut malesuada, dolor id accumsan laoreet, ligula massa scelerisque tortor, iaculis sollicitudin massa ligula eu erat. Nulla facilisi.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p Ut malesuada, dolor id accumsan laoreet, ligula massa scelerisque tortor, iaculis sollicitudin massa ligula eu erat. Nulla facilisi.    

//- p= viaje